#navigation 
{
	margin-bottom: 25px;
	background-color: #5cb85c;
	font-size: 14px;
	
 }
  
  #navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #5cb85c;
  border: 1px solid white;
}

#navigation ul li {
  display: block;
  position: relative;
  float: left;
  background: #5cb85c;
  border-right: 1px solid #5cb85c;
  z-index: 1000;
}

/* This hides the dropdowns */


#navigation li ul { display: none; }

#navigation ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: black;
}

#navigation ul li a:hover { background: #6ca236; }

/* Display the dropdown */


#navigation li:hover > ul {
  display: block;
  position: absolute;
}

#navigation li:hover li { float: none; }

#navigation li:hover a { background: #5cb85c; }

#navigation li:hover li a:hover { background: #6ca236; }

#navigation .main-navigation li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


#navigation ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */



#navigation ul:before,
#navigation ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

#navigation ul:after { clear: both; }









/*Account dropdown*/
#accountDropdown 
{
	/*margin-bottom: 25px;
	*/background-color: #5cb85c;
	font-size: 14px;
	float: right;
	
 }
  
  #accountDropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #5cb85c;
  //border: 1px solid white;
}

#accountDropdown ul li {
  display: block;
  position: relative;
  float: left;
  background: #5cb85c;
  border-right: 1px solid #5cb85c;
  z-index: 1000;
}

/* This hides the dropdowns */

#accountDropdown ul li ul li
{
//	border: 1px solid white;
	//borderbottom: 1px solid white;
}

#accountDropdown li ul { display: none; width: 162.859px !important;
 text-align: left; }

#accountDropdown ul li a {
  display: block;
  padding: 1em;
  padding: 0 1em 0 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
    line-height: 40px !important;

}

#accountDropdown ul li a:hover { background: #6ca236; }

/* Display the dropdown */


#accountDropdown li:hover > ul {
  display: block;
  position: absolute;
}

#accountDropdown li:hover li { float: none; }

#accountDropdown li:hover a { background: #5cb85c; }

#accountDropdown li:hover li a:hover { background: #6ca236; }

#accountDropdown .main-accountDropdown li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


#accountDropdown ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */



#accountDropdown ul:before,
#accountDropdown ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

#accountDropdown ul:after { clear: both; }